*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Inter", serif;
}
.container{
    width: 1300px;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 71px ;
    border-bottom: 2px solid #E5E5E5;
}
.nav_logo{
    display: flex;
    align-items: center;
    gap: 5px;
    
}
.nav_logo input{
    width: 256px;
    height: 36px;
    background-color: #FC004A;
    border: transparent;
    border-radius: 15px;
}
.za{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_logo input::placeholder{
    color: white;
    position: relative;
    left: 30px;
}
.locat{
    position: relative;
    right: 225px;
}
.head_nav{
    display: flex;
    gap: 40px;
    align-items: center;
}
.head_nav a{
    color: black;
}
.cont{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.qwerty{
    position: relative;
    left: 20px;
}
.cont img{
    width: 1300px;
    border-radius:  30px 30px 30px 30px;
}
h1{
    font-family: "Inter", serif;
    font-size: 33;
    display: flex;
    justify-content: start;
    padding: 50px;
}
.main_top{
    display: flex;
    justify-content: space-evenly;
}
.main_one{
    width: 280px;
    height: 495px;
    box-shadow: 2px 2px 2px 2px rgb(236, 236, 236);
    border-radius: 15px;
    margin-bottom: 40px;
}
.main_one h3{
    font-size: 18px;
    margin-bottom: 30px;
}
.main_one img{
    height: 395px;
    width: 295px;
}
.main_one p{
    font-size: 18.26px;
    color: #FC004A;
}
.main_one h3, .main_one p{
    margin-left: 15px;
}
.btn{
    background-color: #FC004A;
    border-radius: 15px;
    width: 45px;
    height: 45px;
    position: relative;
    bottom: 30px;
    left: 180px;
    color: white;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 8px;
}
.fot{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
    padding-right: 150px;
}